@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer base {
  html {
    @apply bg-gray1;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(110vh-50px)];
  }
}
